defaults
    mode    http
    timeout connect 5000
    timeout client  50000
    timeout server  50000

backend connect
 option http-keep-alive
    option forwardfor
    balance roundrobin
    http-request set-header X-Real-IP %[src]
    http-request set-header Host %[req.hdr(Host)]
    http-request add-header X-Forward-For %[src]
    cookie jupyterhub-session-id insert

{{range connect "jhub"}}
    server  {{ .ID }} {{.Address}}:{{.Port}} ssl verify required ca-file /etc/ssl/certs/ca.crt crt /etc/ssl/certs/certs.pem check cookie {{ .ID }}
{{end}}

frontend app
    bind :80
    default_backend connect