[Unit]
Description=Consulservicediscoveryagent
Requires=network-online.target
After=network-online.target
[Service]
Environment=GOMAXPROCS=2
Restart=on-failure
ExecStart=/usr/local/bin/consul agent -dev -data-dir=/etc/consul.d/data -config-dir=/etc/consul.d/config -enable-script-checks=true
ExecReload=/bin/kill-HUP$MAINPID
KillSignal=SIGTERM

[Install]

WantedBy=multi-user.target

