{
"bootstrap": false,
"client_addr": "0.0.0.0",
"server": false,
"datacenter": "useast1",
"log_level": "INFO",
"log_file": "/var/log/consul-server.log",
"enable_syslog": true,
"start_join": [ "{{ consul_server }}" ]
}